In [61]:
# ## Data Analytics Final Project
# ## Topic: "BMW Sales Analytics and Market Trends (2010â€“2024): A Data-Driven Study of Models, Pricing, and Consumer Preferences"
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\PROJECT CHRIS\BMW sales data (2010-2024).csv")

In [58]:
print(df.head())

      Model  Year         Region  Color Fuel_Type Transmission  Engine_Size_L  \
0  5 Series  2016           Asia    Red    Petrol       Manual            3.5
1        i8  2013  North America    Red    Hybrid    Automatic            1.6
2  5 Series  2022  North America   Blue    Petrol    Automatic            4.5
3        X3  2024    Middle East   Blue    Petrol    Automatic            1.7
4  7 Series  2020  South America  Black    Diesel       Manual            2.1

   Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0    151748.0    98740.0          8300                 High
1    121671.0    79219.0          3428                  Low
2     10991.0   113265.0          6994                  Low
3     27255.0    60971.0          4047                  Low
4    122131.0    49898.0          3080                  Low

In [59]:
rows, cols = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

Number of rows: 50000
Number of columns: 11

In [9]:
print("Dataset shape (rows, columns):", df.shape)

Dataset shape (rows, columns): (50000, 11)

In [10]:
print("\nColumn names:")
print(df.columns.tolist())

Column names:
['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission', 'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume', 'Sales_Classification']

In [11]:
print("\nInfo about dataset:")
print(df.info())

Info about dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB
None

In [12]:
print("\nFirst 5 rows:")
print(df.head())

First 5 rows:
      Model  Year         Region  Color Fuel_Type Transmission  Engine_Size_L  \
0  5 Series  2016           Asia    Red    Petrol       Manual            3.5
1        i8  2013  North America    Red    Hybrid    Automatic            1.6
2  5 Series  2022  North America   Blue    Petrol    Automatic            4.5
3        X3  2024    Middle East   Blue    Petrol    Automatic            1.7
4  7 Series  2020  South America  Black    Diesel       Manual            2.1

   Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0      151748      98740          8300                 High
1      121671      79219          3428                  Low
2       10991     113265          6994                  Low
3       27255      60971          4047                  Low
4      122131      49898          3080                  Low

In [13]:
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [14]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [15]:
print(df.isnull().sum())

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [16]:
print((df.isnull().sum() / len(df)) * 100)

Model                   0.0
Year                    0.0
Region                  0.0
Color                   0.0
Fuel_Type               0.0
Transmission            0.0
Engine_Size_L           0.0
Mileage_KM              0.0
Price_USD               0.0
Sales_Volume            0.0
Sales_Classification    0.0
dtype: float64

In [17]:
df_clean = df.dropna()

In [18]:
df_clean = df.dropna(axis=1)

In [24]:
print("Total duplicates:", df.duplicated().sum())

Total duplicates: 0

In [25]:
df['Model'] = df['Model'].astype('category')

In [29]:
print(df.dtypes)

Model                   category
Year                       int64
Region                  category
Color                     object
Fuel_Type                 object
Transmission              object
Engine_Size_L            float64
Mileage_KM                 int64
Price_USD                  int64
Sales_Volume               int64
Sales_Classification      object
dtype: object

In [30]:
print(df.head())

      Model  Year         Region  Color Fuel_Type Transmission  Engine_Size_L  \
0  5 Series  2016           Asia    Red    Petrol       Manual            3.5
1        i8  2013  North America    Red    Hybrid    Automatic            1.6
2  5 Series  2022  North America   Blue    Petrol    Automatic            4.5
3        X3  2024    Middle East   Blue    Petrol    Automatic            1.7
4  7 Series  2020  South America  Black    Diesel       Manual            2.1

   Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0      151748      98740          8300                 High
1      121671      79219          3428                  Low
2       10991     113265          6994                  Low
3       27255      60971          4047                  Low
4      122131      49898          3080                  Low

In [31]:
df = df.astype({
    "Model": "category",
    "Year": "int64",
    "Region": "category",
    "Color": "category",
    "Fuel_Type": "category",
    "Transmission": "category",
    "Engine_Size_L": "float64",
    "Mileage_KM": "float64",
    "Price_USD": "float64",
    "Sales_Volume": "int64",
    "Sales_Classification": "category"
})

In [32]:
print(df.dtypes)

Model                   category
Year                       int64
Region                  category
Color                   category
Fuel_Type               category
Transmission            category
Engine_Size_L            float64
Mileage_KM               float64
Price_USD                float64
Sales_Volume               int64
Sales_Classification    category
dtype: object

In [35]:
df['Mileage_KM'] = df['Mileage_KM'].astype(str)

In [36]:
df['Mileage_KM'] = df['Mileage_KM'].str.replace(" km","", regex=False)
df['Mileage_KM'] = df['Mileage_KM'].str.replace(",","", regex=False)
df['Mileage_KM'] = pd.to_numeric(df['Mileage_KM'], errors='coerce')

In [37]:
df['Price_USD'] = df['Price_USD'].astype(str)
df['Price_USD'] = df['Price_USD'].str.replace("[$,]","", regex=True)
df['Price_USD'] = pd.to_numeric(df['Price_USD'], errors='coerce')

In [38]:
categorical_cols = ['Model','Region','Color','Fuel_Type','Transmission','Sales_Classification']
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [39]:
df['Year'] = pd.to_numeric(df['Year'], errors='coerce').astype('Int64')
df['Sales_Volume'] = pd.to_numeric(df['Sales_Volume'], errors='coerce').astype('Int64')

In [40]:
print(df.dtypes)
print(df.head())

Model                   category
Year                       Int64
Region                  category
Color                   category
Fuel_Type               category
Transmission            category
Engine_Size_L            float64
Mileage_KM               float64
Price_USD                float64
Sales_Volume               Int64
Sales_Classification    category
dtype: object
      Model  Year         Region  Color Fuel_Type Transmission  Engine_Size_L  \
0  5 Series  2016           Asia    Red    Petrol       Manual            3.5
1        i8  2013  North America    Red    Hybrid    Automatic            1.6
2  5 Series  2022  North America   Blue    Petrol    Automatic            4.5
3        X3  2024    Middle East   Blue    Petrol    Automatic            1.7
4  7 Series  2020  South America  Black    Diesel       Manual            2.1

   Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0    151748.0    98740.0          8300                 High
1    121671.0    79219.0          3428                  Low
2     10991.0   113265.0          6994                  Low
3     27255.0    60971.0          4047                  Low
4    122131.0    49898.0          3080                  Low

In [41]:
df_2020 = df[df['Year'] == 2020]

In [42]:
df_europe_diesel = df[(df['Region'] == 'Europe') & (df['Fuel_Type'] == 'Diesel')]

In [43]:
df_price_range = df[(df['Price_USD'] >= 30000) & (df['Price_USD'] <= 50000)]

In [47]:
expensive_models = avg_price_model[avg_price_model['Price_USD'] > 60000]

In [48]:
high_sales_regions = total_sales_region[total_sales_region['Sales_Volume'] > 5000]

In [50]:
print("\nHigh Price Models:\n", expensive_models)

High Price Models:
        Model     Price_USD
0   3 Series  75566.233950
1   5 Series  75287.844077
2   7 Series  75570.196742
3         M3  74841.588715
4         M5  74474.930996
5         X1  75262.219037
6         X3  75016.616856
7         X5  74708.116782
8         X6  74434.600491
9         i3  74800.268081
10        i8  75366.270951

In [54]:
df_2020 = df[df['Year'] == 2020]

In [55]:
df_europe_diesel = df[(df['Region']=='Europe') & (df['Fuel_Type']=='Diesel')]

In [56]:
df_price_range = df[(df['Price_USD'] >= 30000) & (df['Price_USD'] <= 50000)]

In [57]:
print("Average Price by Model:\n", avg_price_model.head())

Average Price by Model:
       Model     Price_USD
0  3 Series  75566.233950
1  5 Series  75287.844077
2  7 Series  75570.196742
3        M3  74841.588715
4        M5  74474.930996